.button {
    margin-right: 15px;
    width: 85px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: rgb(188, 197, 54);
    color: rgb(66, 80, 4);
    font-weight: 700;
    font-size: large;
    outline: none;
  }
  
  .button:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  
  .button:first-child {
    background-color: rgb(64, 185, 145);
    color: darkgreen;
  }
  
  .button:last-child {
    background-color: rgb(194, 62, 73);
    color: rgb(255, 179, 179);
  }
  
  .container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }